<ion-header>
  <ion-toolbar>
    <ion-title>
      Scan 
    </ion-title>
	
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button shape="round" expand="block"  size='' color="secondary" (click)="scan()">SCAN NOW! </ion-button>
	
	 <!--<ion-button shape="round" expand="block"  size='' color="secondary" (click)="testmethod()">TEST NOW! </ion-button>-->
	 
    	<ion-list>
    
	<ion-item>
      <ion-label fixed> 1Scanned Number ver1&nbsp;-</ion-label>
      <ion-input type="text" value="" [(ngModel)]="num"></ion-input>
	</ion-item>
	
	</ion-list>

</ion-content>
